# Overview

<b> Features: </b>
1. Scale: Min-Max/ Standard Scaling
2. Log Transform

# Notebook Set-Up

In [1]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)           # prevents scientific notation

import warnings
warnings.filterwarnings('ignore')

# Import Data

In [2]:
github = r'https://raw.githubusercontent.com/mattlibonati/Northwestern-MSDS-Capstone-2023/main/Data/'
github_r = r'https://raw.githubusercontent.com/mattlibonati/Northwestern-MSDS-Capstone-2023/main/Data/raw_data/'

In [13]:
redfin = pd.read_csv(github+'redfin.csv').drop(columns = ['Unnamed: 0','period_begin','region_type',
                                                          'is_seasonally_adjusted','last_updated','city',
                                                          'period_duration'])

# output data
print('Raw Data:')             
display(redfin)               

# Label Encoding
redfin_strings = redfin.select_dtypes(include=['object'])
redfin_string_encoded = label_encode(redfin_strings)
redfin_encoded = redfin_string_encoded.join(redfin.select_dtypes(exclude=['object']))

print('Standard Scaling:')
display(scale_set(redfin_encoded)[0]) 
print('Min-Max Scaling:')
display(scale_set(redfin_encoded)[1])
print('Log Transformed:')
display(log_transform(redfin_encoded))

# output files to excel
scale_set(redfin_encoded)[0].round(6).to_csv(r'C:\Users\Mattl\Desktop\Data\redfin\redfin_standard_scaled.csv')
scale_set(redfin_encoded)[1].round(6).to_csv(r'C:\Users\Mattl\Desktop\Data\redfin\redfin_minmax_scaled.csv')
log_transform(redfin_encoded).round(6).to_csv(r'C:\Users\Mattl\Desktop\Data\redfin\redfin_log_transformed.csv')
redfin_encoded.round(6).to_csv(r'C:\Users\Mattl\Desktop\Data\redfin\redfin_label_encoded.csv')

Raw Data:

,period_end,region_type_id,table_id,region,state,state_code,property_type,property_type_id,median_sale_price,median_sale_price_mom,...,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code
0,2017-12-31,5,396,"Larimer County, CO",Colorado,CO,Multi-Family (2-4 Unit),4,465000.000,-0.016,...,-0.107,-0.190,NaN,NaN,NaN,0.000,-0.333,0.000,"Fort Collins, CO",22660.000
1,2016-12-31,5,2932,"Orleans County, VT",Vermont,VT,Single Family Residential,6,130100.000,-0.192,...,-0.066,-0.041,0.068,-0.037,0.019,0.000,0.000,-0.222,Vermont nonmetropolitan area,NaN
2,2020-12-31,5,1396,"Mackinac County, MI",Michigan,MI,Single Family Residential,6,125000.000,NaN,...,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,Michigan nonmetropolitan area,NaN
3,2019-12-31,5,888,"Starke County, IN",Indiana,IN,Single Family Residential,6,124900.000,0.243,...,0.003,0.140,NaN,NaN,NaN,0.083,0.083,0.083,Indiana nonmetropolitan area,NaN
4,2019-12-31,5,1012,"Butler County, KS",Kansas,KS,Multi-Family (2-4 Unit),4,367000.000,3.587,...,1.000,1.000,NaN,NaN,NaN,0.000,0.000,NaN,"Wichita, KS",48620.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48844,2018-12-31,5,983,"Pottawattamie County, IA",Iowa,IA,All Residential,-1,160000.000,0.231,...,-0.034,0.099,0.017,-0.035,-0.130,0.025,-0.175,-0.248,"Omaha, NE",36540.000
48845,2016-12-31,5,1124,"Bullitt County, KY",Kentucky,KY,Single Family Residential,6,166965.500,-0.017,...,-0.054,-0.051,0.058,-0.075,-0.008,0.333,-0.036,0.051,"Louisville, KY",31140.000
48846,2016-12-31,5,1246,"East Baton Rouge Parish, LA",Louisiana,LA,All Residential,-1,167550.000,-0.043,...,-0.000,0.010,0.118,-0.039,0.004,0.434,-0.036,0.126,"Baton Rouge, LA",12940.000
48847,2016-12-31,5,1246,"East Baton Rouge Parish, LA",Louisiana,LA,Townhouse,13,105000.000,-0.160,...,-0.028,-0.126,0.090,0.022,0.014,0.364,0.064,0.230,"Baton Rouge, LA",12940.000
48848,2021-12-31,5,2433,"Abbeville County, SC",South Carolina,SC,All Residential,-1,205000.000,0.085,...,0.221,0.209,0.086,-0.023,NaN,0.000,-0.067,-0.200,South Carolina nonmetropolitan area,NaN

Standard Scaling:

,period_end,region,state,state_code,property_type,parent_metro_region,region_type_id,table_id,property_type_id,median_sale_price,...,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region_metro_code
0,-1.119,0.015,-1.464,-1.463,0.176,-0.762,0.000,-1.368,0.059,0.766,...,-0.154,-0.490,-0.949,NaN,NaN,NaN,-0.868,-1.443,-0.080,-0.644
1,-1.626,0.637,1.318,1.426,0.865,1.423,0.000,1.387,0.535,-0.328,...,-0.586,-0.288,-0.247,-0.804,0.128,0.086,-0.868,0.058,-0.999,NaN
2,0.401,0.185,-0.252,-0.235,0.865,0.186,0.000,-0.281,0.535,-0.345,...,-0.889,NaN,-0.053,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,-0.105,1.217,-0.822,-0.741,0.865,-0.381,0.000,-0.833,0.535,-0.345,...,0.064,0.057,0.604,NaN,NaN,NaN,-0.514,0.433,0.265,NaN
4,-0.105,-1.380,-0.680,-0.669,0.176,1.586,0.000,-0.699,0.059,0.446,...,4.261,4.989,4.651,NaN,NaN,NaN,-0.868,0.058,NaN,1.620
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48844,-0.612,0.828,-0.751,-0.958,-1.201,0.527,0.000,-0.730,-1.133,-0.230,...,0.264,-0.129,0.412,-1.247,0.145,-1.505,-0.761,-0.730,-1.105,0.567
48845,-1.626,-1.398,-0.608,-0.597,0.865,-0.007,0.000,-0.577,0.535,-0.207,...,-0.480,-0.226,-0.295,-0.891,-0.276,-0.203,0.548,-0.103,0.132,0.096
48846,-1.626,-0.812,-0.537,-0.524,-1.201,-1.562,0.000,-0.444,-1.133,-0.206,...,-0.306,0.039,-0.005,-0.366,0.110,-0.079,0.975,-0.104,0.440,-1.491
48847,-1.626,-0.812,-0.537,-0.524,1.553,-1.562,0.000,-0.444,2.203,-0.410,...,-0.586,-0.099,-0.648,-0.610,0.755,0.028,0.677,0.345,0.873,-1.491
48848,0.908,-1.732,0.961,0.992,-1.201,1.131,0.000,0.845,-1.133,-0.083,...,0.553,1.135,0.928,-0.646,0.275,NaN,-0.868,-0.242,-0.907,NaN

Min-Max Scaling:

,period_end,region,state,state_code,property_type,parent_metro_region,region_type_id,table_id,property_type_id,median_sale_price,...,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region_metro_code
0,0.167,0.506,0.104,0.104,0.500,0.301,0.000,0.122,0.357,0.013,...,0.143,0.446,0.405,NaN,NaN,NaN,0.000,0.333,0.500,0.316
1,0.000,0.686,0.917,0.938,0.750,0.927,0.000,0.907,0.500,0.004,...,0.059,0.467,0.479,0.068,0.468,0.494,0.000,0.500,0.389,NaN
2,0.667,0.555,0.458,0.458,0.750,0.573,0.000,0.431,0.500,0.003,...,0.000,NaN,0.500,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0.500,0.854,0.292,0.312,0.750,0.410,0.000,0.274,0.500,0.003,...,0.185,0.502,0.570,NaN,NaN,NaN,0.083,0.542,0.542,NaN
4,0.500,0.102,0.333,0.333,0.500,0.973,0.000,0.312,0.357,0.010,...,1.000,1.000,1.000,NaN,NaN,NaN,0.000,0.500,NaN,0.970
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48844,0.333,0.742,0.312,0.250,0.000,0.670,0.000,0.304,0.000,0.004,...,0.224,0.483,0.549,0.017,0.469,0.414,0.025,0.412,0.376,0.666
48845,0.000,0.097,0.354,0.354,0.750,0.517,0.000,0.347,0.500,0.005,...,0.080,0.473,0.474,0.058,0.446,0.480,0.333,0.482,0.526,0.530
48846,0.000,0.267,0.375,0.375,0.000,0.072,0.000,0.385,0.000,0.005,...,0.113,0.500,0.505,0.118,0.467,0.486,0.434,0.482,0.563,0.072
48847,0.000,0.267,0.375,0.375,1.000,0.072,0.000,0.385,1.000,0.003,...,0.059,0.486,0.437,0.090,0.501,0.491,0.364,0.532,0.615,0.072
48848,0.833,0.000,0.812,0.812,0.000,0.843,0.000,0.752,0.000,0.006,...,0.280,0.611,0.604,0.086,0.476,NaN,0.000,0.467,0.400,NaN

Log Transformed:

,period_end,region,state,state_code,property_type,parent_metro_region,region_type_id,table_id,property_type_id,median_sale_price,...,sold_above_list,sold_above_list_mom,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region_metro_code
0,0.000,7.249,1.609,1.609,0.693,5.649,1.609,5.981,1.386,13.050,...,-1.946,NaN,NaN,NaN,NaN,NaN,-inf,NaN,-inf,10.028
1,-inf,7.554,3.784,3.807,1.099,6.773,1.609,7.983,1.792,11.776,...,-2.833,NaN,NaN,-2.694,NaN,-3.962,-inf,-inf,NaN,NaN
2,1.386,7.342,3.091,3.091,1.099,6.292,1.609,7.241,1.792,11.736,...,-inf,NaN,-inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.099,7.773,2.639,2.708,1.099,5.958,1.609,6.789,1.792,11.735,...,-1.686,-5.694,-1.968,NaN,NaN,NaN,-2.485,-2.485,-2.485,NaN
4,1.099,5.645,2.773,2.773,0.693,6.822,1.609,6.920,1.386,12.813,...,0.000,0.000,0.000,NaN,NaN,NaN,-inf,-inf,NaN,10.792
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48844,0.693,7.631,2.708,2.485,-inf,6.449,1.609,6.891,NaN,11.983,...,-1.497,NaN,-2.314,-4.084,NaN,NaN,-3.689,NaN,NaN,10.506
48845,-inf,5.595,2.833,2.833,1.099,6.190,1.609,7.025,1.792,12.026,...,-2.531,NaN,NaN,-2.853,NaN,NaN,-1.099,NaN,-2.970,10.346
48846,-inf,6.608,2.890,2.890,-inf,4.220,1.609,7.128,NaN,12.029,...,-2.177,NaN,-4.590,-2.139,NaN,-5.630,-0.835,NaN,-2.073,9.468
48847,-inf,6.608,2.890,2.890,1.386,4.220,1.609,7.128,2.565,11.562,...,-2.833,NaN,NaN,-2.409,-3.795,-4.301,-1.012,-2.755,-1.468,9.468
48848,1.609,-inf,3.664,3.664,-inf,6.678,1.609,7.797,NaN,12.231,...,-1.273,-1.509,-1.567,-2.457,NaN,NaN,-inf,NaN,NaN,NaN

# FHFA

In [37]:
fhfa = pd.read_csv(github_r+'fhfa_raw.csv')
# limit to 2016--> 2022 year end
fhfa = fhfa[(fhfa['year'].isin([2016,2017,2018,2019,2020,2021,2022])) & (fhfa['qtr'] == 4)]
# pivot on divisons
# fhfa_u = fhfa.pivot(index='year', columns='division', values='index_po_seasonally_adjusted').reset_index()
# fhfa_u.to_csv(r'C:\Users\Mattl\Desktop\Data\fhfa\fhfa.csv')
# display(fhfa_u)

division,year,DV_ENC,DV_ESC,DV_MA,DV_MT,DV_NE,DV_PAC,DV_SA,DV_WNC,DV_WSC,USA
0,2016,192.240,211.780,213.610,300.220,218.140,265.280,231.830,232.140,247.360,231.200
1,2017,203.110,223.240,223.640,325.960,229.720,287.200,246.110,244.120,262.230,245.570
2,2018,214.770,236.590,234.140,352.210,240.650,303.020,260.860,257.810,273.900,259.390
3,2019,226.780,250.070,245.440,378.050,252.270,318.660,276.930,271.310,286.210,273.680
4,2020,252.040,277.790,273.370,429.860,285.020,357.140,308.010,298.590,312.500,304.480
5,2021,288.270,330.800,312.050,530.630,332.390,426.870,371.630,339.990,369.350,358.910
6,2022,311.780,365.480,338.330,563.190,358.770,439.430,417.610,366.700,403.870,389.080

# FRED

In [6]:
fred       = pd.read_csv(github_r+'fred_raw.csv')
fred       = fred[(fred['DATE'] >= '2016-12-31') & (fred['DATE'] < '2023-01-01')]
fred['yr-mo'] = pd.DatetimeIndex(fred['DATE']).year.astype(str) + '-' + pd.DatetimeIndex(fred['DATE']).month.astype(str) 
fred = fred.sort_values('DATE',ascending=False).groupby('yr-mo').head(1)
fred = fred[pd.DatetimeIndex(fred['DATE']).month == 12] 
fred.to_csv(r'C:\Users\Mattl\Desktop\Data\fred.csv')
fred

            DATE  MORTGAGE30US    yr-mo
2700  2022-12-29         6.420  2022-12
2648  2021-12-30         3.110  2021-12
2596  2020-12-31         2.670  2020-12
2543  2019-12-26         3.740  2019-12
2491  2018-12-27         4.550  2018-12
2439  2017-12-28         3.990  2017-12

# Census Data

In [28]:
census = pd.read_csv(github+'census.csv').drop(columns = 'NAME')
print('Raw Data:')             
display(census)               

# Label Encoding
census_strings = census.select_dtypes(include=['object'])
census_string_encoded = label_encode(census_strings)
census_encoded = census_string_encoded.join(census.select_dtypes(exclude=['object']))
display(census_encoded)

print('Standard Scaling:')
display(scale_set(census_encoded)[0]) 
print('Min-Max Scaling:')
display(scale_set(census_encoded)[1])
print('Log Transformed:')
display(log_transform(census_encoded))

# output files to excel
# scale_set(census)[0].to_csv(r'C:\Users\Mattl\Desktop\Data\census\census_standard_scaled.csv')
# scale_set(census)[1].to_csv(r'C:\Users\Mattl\Desktop\Data\census\census_minmax_scaled.csv')
# log_transform(census).to_csv(r'C:\Users\Mattl\Desktop\Data\census\census_log_transformed.csv')
# census_encoded.to_csv(r'C:\Users\Mattl\Desktop\Data\census\census_label_encoded.csv')

Raw Data:

,GEOID,mean_household_size_owner,transportation_drive_alone,transportation_public,one_person_household,more_than_200k,mhhi,mhhi_family,mhhi_nonfamily,vacant_units,...,median_number_rooms,median_gross_rent,median_year_built,plumbing_complete,kitchen_complete,median_gross_rent_frac_income,lower_quartile_home_value,median_home_value,upper_quartile_home_value,electricity_cost
0,20161,2.480,28264,85,8595,1379,53296.000,76786.000,37950.000,3979,...,5.300,968.000,1984,26554,26523,31.500,146900.000,211500.000,286400.000,2167
1,19159,2.540,1606,7,585,79,57700.000,76250.000,30345.000,809,...,6.200,639.000,1962,1847,1840,29.500,63800.000,111300.000,217600.000,14
2,30009,2.370,3575,19,1547,269,63178.000,82083.000,34108.000,1865,...,5.400,841.000,1981,4500,4494,24.400,187800.000,297500.000,477300.000,367
3,16007,2.960,1927,17,521,81,60337.000,75882.000,25673.000,1637,...,6.400,598.000,1971,2223,2230,26.400,97200.000,160200.000,270600.000,478
4,55011,2.490,5401,7,1650,136,61167.000,75954.000,35044.000,992,...,6.200,730.000,1971,5505,5505,25.200,106800.000,164500.000,245300.000,138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,53003,2.330,7477,53,2821,499,57263.000,73972.000,37745.000,752,...,6.000,856.000,1976,9278,9255,28.700,155000.000,229300.000,323700.000,865
3217,13043,2.960,3650,0,1288,74,36763.000,47221.000,18268.000,602,...,5.300,653.000,1990,4034,4015,28.000,45000.000,94700.000,203900.000,176
3218,48451,2.620,44500,132,13372,1745,62052.000,76060.000,35420.000,6226,...,5.200,917.000,1977,44554,44344,28.000,89800.000,156600.000,230400.000,2073
3219,39089,2.700,67038,143,15584,4999,72771.000,88792.000,39470.000,6090,...,6.200,894.000,1978,66081,65809,26.300,129500.000,195100.000,284300.000,3439
3220,19193,2.640,43104,564,11034,1643,63061.000,76827.000,34683.000,2825,...,5.900,838.000,1957,39563,39362,25.900,89700.000,139600.000,206500.000,2104

,GEOID,mean_household_size_owner,transportation_drive_alone,transportation_public,one_person_household,more_than_200k,mhhi,mhhi_family,mhhi_nonfamily,vacant_units,...,median_number_rooms,median_gross_rent,median_year_built,plumbing_complete,kitchen_complete,median_gross_rent_frac_income,lower_quartile_home_value,median_home_value,upper_quartile_home_value,electricity_cost
0,20161,2.480,28264,85,8595,1379,53296.000,76786.000,37950.000,3979,...,5.300,968.000,1984,26554,26523,31.500,146900.000,211500.000,286400.000,2167
1,19159,2.540,1606,7,585,79,57700.000,76250.000,30345.000,809,...,6.200,639.000,1962,1847,1840,29.500,63800.000,111300.000,217600.000,14
2,30009,2.370,3575,19,1547,269,63178.000,82083.000,34108.000,1865,...,5.400,841.000,1981,4500,4494,24.400,187800.000,297500.000,477300.000,367
3,16007,2.960,1927,17,521,81,60337.000,75882.000,25673.000,1637,...,6.400,598.000,1971,2223,2230,26.400,97200.000,160200.000,270600.000,478
4,55011,2.490,5401,7,1650,136,61167.000,75954.000,35044.000,992,...,6.200,730.000,1971,5505,5505,25.200,106800.000,164500.000,245300.000,138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,53003,2.330,7477,53,2821,499,57263.000,73972.000,37745.000,752,...,6.000,856.000,1976,9278,9255,28.700,155000.000,229300.000,323700.000,865
3217,13043,2.960,3650,0,1288,74,36763.000,47221.000,18268.000,602,...,5.300,653.000,1990,4034,4015,28.000,45000.000,94700.000,203900.000,176
3218,48451,2.620,44500,132,13372,1745,62052.000,76060.000,35420.000,6226,...,5.200,917.000,1977,44554,44344,28.000,89800.000,156600.000,230400.000,2073
3219,39089,2.700,67038,143,15584,4999,72771.000,88792.000,39470.000,6090,...,6.200,894.000,1978,66081,65809,26.300,129500.000,195100.000,284300.000,3439
3220,19193,2.640,43104,564,11034,1643,63061.000,76827.000,34683.000,2825,...,5.900,838.000,1957,39563,39362,25.900,89700.000,139600.000,206500.000,2104

Standard Scaling:

,GEOID,mean_household_size_owner,transportation_drive_alone,transportation_public,one_person_household,more_than_200k,mhhi,mhhi_family,mhhi_nonfamily,vacant_units,...,median_number_rooms,median_gross_rent,median_year_built,plumbing_complete,kitchen_complete,median_gross_rent_frac_income,lower_quartile_home_value,median_home_value,upper_quartile_home_value,electricity_cost
0,-0.689,-0.441,-0.066,-0.092,-0.069,-0.143,-0.246,0.274,0.496,-0.083,...,-0.710,0.573,0.157,-0.103,-0.102,0.949,0.514,0.409,0.170,-0.049
1,-0.750,-0.217,-0.309,-0.096,-0.308,-0.225,0.023,0.246,-0.228,-0.349,...,0.993,-0.710,-0.279,-0.312,-0.312,0.495,-0.558,-0.537,-0.286,-0.181
2,-0.084,-0.851,-0.291,-0.095,-0.279,-0.213,0.356,0.552,0.130,-0.261,...,-0.521,0.077,0.097,-0.289,-0.290,-0.664,1.042,1.221,1.433,-0.159
3,-0.944,1.349,-0.306,-0.095,-0.309,-0.224,0.183,0.226,-0.672,-0.280,...,1.372,-0.870,-0.101,-0.308,-0.309,-0.209,-0.127,-0.075,0.065,-0.152
4,1.450,-0.404,-0.274,-0.096,-0.276,-0.221,0.234,0.230,0.219,-0.334,...,0.993,-0.355,-0.101,-0.281,-0.281,-0.482,-0.003,-0.034,-0.103,-0.173
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,1.327,-1.000,-0.256,-0.093,-0.241,-0.198,-0.004,0.126,0.476,-0.354,...,0.615,0.136,-0.002,-0.249,-0.249,0.313,0.619,0.577,0.417,-0.129
3217,-1.126,1.349,-0.290,-0.096,-0.287,-0.225,-1.253,-1.276,-1.376,-0.367,...,-0.710,-0.656,0.276,-0.293,-0.294,0.154,-0.801,-0.694,-0.377,-0.171
3218,1.047,0.081,0.081,-0.090,0.073,-0.120,0.288,0.236,0.255,0.106,...,-0.900,0.374,0.018,0.049,0.049,0.154,-0.223,-0.109,-0.201,-0.054
3219,0.473,0.379,0.286,-0.089,0.139,0.085,0.941,0.903,0.640,0.095,...,0.993,0.284,0.038,0.231,0.232,-0.232,0.290,0.255,0.156,0.030
3220,-0.748,0.156,0.069,-0.069,0.004,-0.126,0.349,0.276,0.185,-0.180,...,0.425,0.066,-0.378,0.007,0.007,-0.323,-0.224,-0.270,-0.359,-0.052

Min-Max Scaling:

,GEOID,mean_household_size_owner,transportation_drive_alone,transportation_public,one_person_household,more_than_200k,mhhi,mhhi_family,mhhi_nonfamily,vacant_units,...,median_number_rooms,median_gross_rent,median_year_built,plumbing_complete,kitchen_complete,median_gross_rent_frac_income,lower_quartile_home_value,median_home_value,upper_quartile_home_value,electricity_cost
0,0.269,0.241,0.008,0.000,0.010,0.003,0.281,0.363,0.318,0.017,...,0.382,0.308,0.990,0.008,0.008,0.536,0.154,0.157,0.113,0.003
1,0.255,0.257,0.000,0.000,0.001,0.000,0.311,0.360,0.236,0.003,...,0.500,0.168,0.979,0.001,0.001,0.488,0.061,0.074,0.078,0.000
2,0.408,0.211,0.001,0.000,0.002,0.001,0.350,0.393,0.276,0.008,...,0.395,0.254,0.989,0.001,0.001,0.367,0.200,0.228,0.212,0.001
3,0.211,0.371,0.001,0.000,0.001,0.000,0.330,0.358,0.186,0.007,...,0.526,0.151,0.984,0.001,0.001,0.414,0.098,0.114,0.105,0.001
4,0.759,0.244,0.002,0.000,0.002,0.000,0.336,0.358,0.286,0.004,...,0.500,0.207,0.984,0.002,0.002,0.386,0.109,0.118,0.092,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,0.731,0.201,0.002,0.000,0.003,0.001,0.308,0.347,0.315,0.003,...,0.474,0.260,0.986,0.003,0.003,0.469,0.163,0.172,0.133,0.001
3217,0.169,0.371,0.001,0.000,0.001,0.000,0.166,0.192,0.107,0.002,...,0.382,0.174,0.993,0.001,0.001,0.452,0.039,0.060,0.071,0.000
3218,0.667,0.279,0.013,0.000,0.016,0.004,0.342,0.359,0.290,0.026,...,0.368,0.286,0.987,0.013,0.013,0.452,0.090,0.111,0.084,0.003
3219,0.535,0.301,0.020,0.000,0.018,0.012,0.416,0.432,0.334,0.026,...,0.500,0.276,0.987,0.020,0.020,0.412,0.135,0.143,0.112,0.005
3220,0.256,0.285,0.013,0.001,0.013,0.004,0.349,0.363,0.283,0.012,...,0.461,0.253,0.977,0.012,0.012,0.402,0.090,0.097,0.072,0.003

Log Transformed:

C:\Users\Mattl\anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,GEOID,mean_household_size_owner,transportation_drive_alone,transportation_public,one_person_household,more_than_200k,mhhi,mhhi_family,mhhi_nonfamily,vacant_units,...,median_number_rooms,median_gross_rent,median_year_built,plumbing_complete,kitchen_complete,median_gross_rent_frac_income,lower_quartile_home_value,median_home_value,upper_quartile_home_value,electricity_cost
0,9.912,0.908,10.249,4.443,9.059,7.229,10.884,11.249,10.544,8.289,...,1.668,6.875,7.593,10.187,10.186,3.450,11.898,12.262,12.565,7.681
1,9.861,0.932,7.382,1.946,6.372,4.369,10.963,11.242,10.320,6.696,...,1.825,6.460,7.582,7.521,7.518,3.384,11.064,11.620,12.290,2.639
2,10.309,0.863,8.182,2.944,7.344,5.595,11.054,11.315,10.437,7.531,...,1.686,6.735,7.591,8.412,8.410,3.195,12.143,12.603,13.076,5.905
3,9.681,1.085,7.564,2.833,6.256,4.394,11.008,11.237,10.153,7.401,...,1.856,6.394,7.586,7.707,7.710,3.273,11.485,11.984,12.508,6.170
4,10.915,0.912,8.594,1.946,7.409,4.913,11.021,11.238,10.464,6.900,...,1.825,6.593,7.586,8.613,8.613,3.227,11.579,12.011,12.410,4.927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3216,10.878,0.846,8.920,3.970,7.945,6.213,10.955,11.211,10.539,6.623,...,1.792,6.752,7.589,9.135,9.133,3.357,11.951,12.343,12.688,6.763
3217,9.476,1.085,8.202,-inf,7.161,4.304,10.512,10.763,9.813,6.400,...,1.668,6.482,7.596,8.303,8.298,3.332,10.714,11.458,12.225,5.170
3218,10.788,0.963,10.703,4.883,9.501,7.465,11.036,11.239,10.475,8.736,...,1.649,6.821,7.589,10.704,10.700,3.332,11.405,11.961,12.348,7.637
3219,10.574,0.993,11.113,4.963,9.654,8.517,11.195,11.394,10.583,8.714,...,1.825,6.796,7.590,11.099,11.095,3.270,11.771,12.181,12.558,8.143
3220,9.862,0.971,10.671,6.335,9.309,7.404,11.052,11.249,10.454,7.946,...,1.775,6.731,7.579,10.586,10.581,3.254,11.404,11.847,12.238,7.652

C:\Users\Mattl\anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

# Merge Data

In [41]:
github = r'https://raw.githubusercontent.com/mattlibonati/Northwestern-MSDS-Capstone-2023/main/Data/'

fhfa   = pd.read_csv(github+'fhfa.csv').drop(columns = ['Unnamed: 0'])
fred   = pd.read_csv(github+'fred.csv').drop(columns = ['Unnamed: 0'])
census = pd.read_csv(github+'census.csv')
redfin = pd.read_csv(github+'redfin.csv').drop(columns = ['Unnamed: 0','period_begin'])

display(fhfa.head())
display(fred.head())
display(census.head())
display(redfin.head())

,year,DV_ENC,DV_ESC,DV_MA,DV_MT,DV_NE,DV_PAC,DV_SA,DV_WNC,DV_WSC,USA
0,2016,192.240,211.780,213.610,300.220,218.140,265.280,231.830,232.140,247.360,231.200
1,2017,203.110,223.240,223.640,325.960,229.720,287.200,246.110,244.120,262.230,245.570
2,2018,214.770,236.590,234.140,352.210,240.650,303.020,260.860,257.810,273.900,259.390
3,2019,226.780,250.070,245.440,378.050,252.270,318.660,276.930,271.310,286.210,273.680
4,2020,252.040,277.790,273.370,429.860,285.020,357.140,308.010,298.590,312.500,304.480

         DATE  MORTGAGE30US    yr-mo
0  2022-12-29         6.420  2022-12
1  2021-12-30         3.110  2021-12
2  2020-12-31         2.670  2020-12
3  2019-12-26         3.740  2019-12
4  2018-12-27         4.550  2018-12

,GEOID,NAME,mean_household_size_owner,transportation_drive_alone,transportation_public,one_person_household,more_than_200k,mhhi,mhhi_family,mhhi_nonfamily,...,median_number_rooms,median_gross_rent,median_year_built,plumbing_complete,kitchen_complete,median_gross_rent_frac_income,lower_quartile_home_value,median_home_value,upper_quartile_home_value,electricity_cost
0,20161,"Riley County, Kansas",2.480,28264,85,8595,1379,53296.000,76786.000,37950.000,...,5.300,968.000,1984,26554,26523,31.500,146900.000,211500.000,286400.000,2167
1,19159,"Ringgold County, Iowa",2.540,1606,7,585,79,57700.000,76250.000,30345.000,...,6.200,639.000,1962,1847,1840,29.500,63800.000,111300.000,217600.000,14
2,30009,"Carbon County, Montana",2.370,3575,19,1547,269,63178.000,82083.000,34108.000,...,5.400,841.000,1981,4500,4494,24.400,187800.000,297500.000,477300.000,367
3,16007,"Bear Lake County, Idaho",2.960,1927,17,521,81,60337.000,75882.000,25673.000,...,6.400,598.000,1971,2223,2230,26.400,97200.000,160200.000,270600.000,478
4,55011,"Buffalo County, Wisconsin",2.490,5401,7,1650,136,61167.000,75954.000,35044.000,...,6.200,730.000,1971,5505,5505,25.200,106800.000,164500.000,245300.000,138

,period_end,period_duration,region_type,region_type_id,table_id,is_seasonally_adjusted,region,city,state,state_code,...,sold_above_list_yoy,price_drops,price_drops_mom,price_drops_yoy,off_market_in_two_weeks,off_market_in_two_weeks_mom,off_market_in_two_weeks_yoy,parent_metro_region,parent_metro_region_metro_code,last_updated
0,2017-12-31,30,county,5,396,f,"Larimer County, CO",NaN,Colorado,CO,...,-0.190,NaN,NaN,NaN,0.000,-0.333,0.000,"Fort Collins, CO",22660.000,3/19/2023
1,2016-12-31,30,county,5,2932,f,"Orleans County, VT",NaN,Vermont,VT,...,-0.041,0.068,-0.037,0.019,0.000,0.000,-0.222,Vermont nonmetropolitan area,NaN,3/19/2023
2,2020-12-31,30,county,5,1396,f,"Mackinac County, MI",NaN,Michigan,MI,...,0.000,NaN,NaN,NaN,NaN,NaN,NaN,Michigan nonmetropolitan area,NaN,3/19/2023
3,2019-12-31,30,county,5,888,f,"Starke County, IN",NaN,Indiana,IN,...,0.140,NaN,NaN,NaN,0.083,0.083,0.083,Indiana nonmetropolitan area,NaN,3/19/2023
4,2019-12-31,30,county,5,1012,f,"Butler County, KS",NaN,Kansas,KS,...,1.000,NaN,NaN,NaN,0.000,0.000,NaN,"Wichita, KS",48620.000,3/19/2023

# Functions

Scaling Functions

In [4]:
# Sklearn standardscaler library
# also look at min-max scaling
from sklearn.preprocessing import StandardScaler, MinMaxScaler

def scale_set(df):
    x = df.loc[:, :].values
    x_ss = pd.DataFrame(StandardScaler().fit_transform(x), columns = df.columns)
    x_mm = pd.DataFrame(MinMaxScaler().fit_transform(x), columns = df.columns)
    return x_ss, x_mm

Log Transformations

In [5]:
import numpy as np

def log_transform(df):
    df_log = df.copy()
    for col in df_log.columns:
        df_log[col] = round(np.log(df_log[col]),3)
    return df_log

Label Encoding

In [6]:
###################################
# label encoded dataset 
from sklearn import preprocessing

def label_encode(data):
    label_encoder = preprocessing.LabelEncoder()

    label_encoded_df = data.copy()

    for col in label_encoded_df.columns:
        label_encoded_df[col]= label_encoder.fit_transform(label_encoded_df[col])

    label_encoded_df = label_encoded_df.fillna(0)

    return label_encoded_df